body {
  line-height: 1.5;
  color: white;
  font-family: 'Sacremento', serif;
  background: red;

  /* Full Page Background Receipe */

  background:  url('../images/night_skyline.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 800px;
  margin: 40px;
  border-radius: 40px;
  background:  rgba(0,0,153,0.5);
  padding: 15px;
}

h1 {
	font-size: 60px;
	margin-bottom:  -50px;
}

h3 {
	font-family: 'Rockkitt', serif;
	font-size: 20px;
}

a {

color: #FF001A;
 text-decoration: none;
}

p {
   font-family: 'Rockkitt', serif;
}

.column {
  float: left;
  width: 50%;


}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}
